:root{
    --Verde_azulado_oscuro2:  #276f65;
    --Verde_azulado: #4caf83;
    --Verde: #7ad9b0;
    --Verde_claro: #BBEBD6;
    --Verde_2: #90d082;
    --Blanco: #f7f9fc;
    --Azul_grisaceo: #131A29;
}

body {
    background: linear-gradient(45deg, var(--Blanco), var(--Verde_claro));
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la pantalla */
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.title_style{
    color: var(--Verde_azulado_oscuro2 );
}

.justify-text {
    text-align: justify;
}

.navbar .logo {
    height: 8vw; 
    max-height: 60px;
    margin-left: 8vw;
}

.navbar {
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: var(--Azul_grisaceo);
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar li a:hover {
    color: var(--Verde_azulado_oscuro2);
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.navbar-buttons .button1 {
    background-color: var(--Azul_grisaceo);
    color: var(--Blanco);
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    text-decoration: none;
}

.navbar-buttons .button1:hover {
    background-color: var(--Verde_azulado_oscuro2);
}

.navbar-buttons .button2 {
    color: var(--Azul_grisaceo);
    border-color: var(--Azul_grisaceo);
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 40px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    text-decoration: none;
}

.navbar-buttons .button2:hover {
    background-color: var(--Verde_azulado_oscuro2);
    color: var(--Blanco);
}

.main{
    background-color: linear-gradient(135deg, var(--Blanco), var(--Verde_claro));
    flex: 1; /* Empuja el footer hacia el extremo inferior si el contenido es insuficiente */
}

#vision-mision {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: auto; 
    padding: 0 20px;
}

#vision-mision .col {
    margin: 10px;
    min-width: 200px;
    flex: 1;
}

#vision-mision .image-col {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.content-box {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.side-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 10px;
    margin-right: 10px;
}

.col {
    text-align: center;
}

.faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--Verde_azulado_oscuro2);
    font-weight: bold;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    background-color: var(--Verde_claro);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.faq-question i {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.faq-question.active i {
    transform: rotate(180deg);
}

.faq-answer {
    display: none;
    padding: 15px;
    border-top: 1px solid #ccc;
    font-size: 16px;
}

.faq-question.active + .faq-answer { display: block; }

.team {
    text-align: center;
    margin-top: 20px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 230px
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.social-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.github-icon {
    width: 25px;
    height: 25px;
}

.linkedin-icon{
    width: 25px;
    height: 25px;
}

.team-member {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.team-photo {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
}

.team-description {
    margin-top: 10px;
    font-size: 1rem;
}


.subscription-container {
    display: flex; 
    justify-content: center; 
    padding: 20px; 
} 

.subscription-plan { 
    background-color: #fff; 
    color: #000; 
    border-radius: 10px; 
    margin: 10px; 
    padding: 20px; 
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
} 

.subscription-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    padding: 2px;
    width: 80%;
    max-width: 800px;

}

.subscription-data p {
    margin: 10px 0;
}

.subscription-plan h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--Verde_azulado_oscuro2);
} 

.subscription-plan ul {
    list-style: none; 
    padding: 0; 
} 

.subscription-plan ul li {
    margin: 10px 0;
}

.subscription-price {
    font-size: 28px;
    margin: 20px 0; 
} 

.choose-plan-button {
    background-color: var(--Verde_azulado_oscuro2);
    color: #fff;
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px;
    text-decoration: none;
}

.choose-plan-button:hover { 
    background-color: var(--Azul_grisaceo); 
    text-decoration: none;
} 

.header-container {
    background-color: var(--Blanco);
    text-align: center;
    padding: 20px;
    color: var(--Verde_azulado_oscuro2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
} 

.header-description {
    color: #000;
}

.header-title {
    margin: 0;
    font-size: 32px;
}

.toggle-buttons {
    margin-top: 10px;
}

.toggle-buttons button {
    background-color: #fff;
    color: var(--Azul_grisaceo);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    text-decoration: none;
}

.footer {
    background-color: var(--Verde_azulado_oscuro2);
    color: var(--Blanco);
    padding: 20px 0;
    text-align: center;
    flex-shrink: 0; /* Previene que el footer colapse cuando no hay suficiente espacio */
    min-height: 100px; /* Ajusta este valor según el diseño deseado */
    position: relative;
}

.footer-logo {
    height: 100px; 
    margin-bottom: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    margin: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section a {
    color: var(--Blanco);
    text-decoration: none;
    margin: 5px 0;
    display: block;
}

.footer-section a:hover {
    text-decoration: underline;
}

/* Media queries para ajustar el padding en diferentes tamaños de pantalla */
@media (max-width: 1200px) {
    .col {
        padding: 4vw;
    }
}

@media (max-width: 992px) {
    .col {
        padding: 3vw;
    }
}

@media (max-width: 768px) {
    .col {
        padding: 2vw;
    }

    .navbar .logo {
        height: 15vw; /* Ajusta el tamaño para pantallas más pequeñas */
        max-height: 50px; /* Tamaño máximo para pantallas medianas */
        margin-right: 3vw; /* Ajusta el margen para pantallas más pequeñas */
        margin-left: 3vw; /* Ajusta el margen para pantallas más pequeñas */
    }

    :root {
        --base-font-size: 14px; /* Tamaño de fuente base para pantallas más pequeñas */
    }

    #vision-mision {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .side-image {
        max-width: 80%; /* Ajusta el tamaño máximo de la imagen en pantallas pequeñas */
    }
}

@media (max-width: 576px) {
    .col {
        padding: 1vw;
    }
}

@media (max-width: 480px) {
    :root {
        --base-font-size: 12px; /* Tamaño de fuente base para pantallas muy pequeñas */
    }

    .navbar .logo {
        height: 20vw; /* Ajusta el tamaño para pantallas muy pequeñas */
        max-height: 40px; /* Tamaño máximo para pantallas pequeñas */
        margin-right: 2vw; /* Ajusta el margen para pantallas muy pequeñas */
        margin-left: 2vw; /* Ajusta el margen para pantallas muy pequeñas */
    }
}

.content-box.primary { /*Rectángulo valla publicitaria*/
    max-width: 72%; /* Ajusta según el ancho de los otros rectángulos */
    margin-left: 40px; /* Alinea con los demás rectángulos */
    margin-right: auto; /* Asegura que el margen derecho se ajuste automáticamente */
}
