<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/icono/icono.ico') }}" type="image/x-icon">

</head>

<body>
    <div class="header">
        <a href="/home">
            <img src="static/images/Imagotipo.png" alt="Logo" width="248" height="85">
        </a>
    </div>

    <div class="login-container">
        <h2>Iniciar sesión</h2>
        <form action="{{ url_for('routes.login') }}" method="post">
            <div class="form-group">
                <label for="email"></label>
                <div class="input-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Correo electrónico" required>
                </div>
            </div>

            <div class="form-group">
                <label for="password"></label>
                <div class="password-container">
                    <div class="input-group">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                        <img id="togglePasswordVisibility" src="static/images/hide.png" onclick="togglePassword()">
                    </div>
                </div>
            </div>

            <!-- Turnstile Cloudflare -->
            <div class="form-group">
                <div id="turnstile-container" class="cf-turnstile"></div>
            </div>

            {% if error_message %}
            <div class="error-box" role="alert">
                {{ error_message }}
            </div>
            {% endif %}

            <button id="submitButton" type="submit">Ingresar</button>
            <p>¿No tienes una cuenta? <a href="{{ url_for('auth.register') }}">¡Regístrate!</a></p>
            <p><a href="{{ url_for('routes.forgot_password') }}">¿Olvidaste tu contraseña?</a></p>
        </form>
        <div>
        </div>
    </div>

    <div class="footer">
        <a href="{{ url_for('routes.terminos_condiciones') }}">Términos y condiciones</a>
    </div>

    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function togglePassword() {
            var passwordInput = document.getElementById('password');
            var toggleIcon = document.getElementById('togglePasswordVisibility');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleIcon.src = 'static/img/icons/MdiEyeOff.png';
            } else {
                passwordInput.type = 'password';
                toggleIcon.src = 'static/img/icons/MdiEye.png';
            }
        }

        function turnstileCallback() {
            // Si la validación del CAPTCHA fue exitosa, habilitar el botón
            document.getElementById('submitButton').disabled = false;
        }

        function renderTurnstile() {
            if (document.getElementById('turnstile-container')) {
                // Intenta renderizar el Turnstile
                turnstile.render('#turnstile-container', {
                    sitekey: '0x4AAAAAAA7Y2KGLB1WKO0LC', // Reemplaza con tu sitio key
                    callback: turnstileCallback // Llamar a la función cuando el CAPTCHA sea validado
                });

                // Verifica si se ha renderizado correctamente después de un tiempo
                setTimeout(function() {
                    // Chequea si el contenedor del CAPTCHA tiene hijos (se ha renderizado)
                    if (document.querySelector('#turnstile-container').childElementCount === 0) {
                        console.log('El CAPTCHA no se ha renderizado, intentando nuevamente.');
                        renderTurnstile(); // Vuelve a intentar la renderización
                    }
                }, 1000); // 1000ms = 1 segundos (ajusta este valor si es necesario)
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            // Intenta renderizar el Turnstile cuando la página se cargue
            renderTurnstile();
        });
        document.getElementById('logo-link').addEventListener('click', function(event) {
        event.preventDefault(); // Previene el comportamiento predeterminado del enlace
        window.location.href = '/home'; // Redirige a la página de inicio
    });
    </script>




    <!-- <script src="{{ url_for('static', filename='js/hora.js') }}"></script> -->
</body>
</html>