<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>Registrarse</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icono/icono.ico') }}" type="image/x-icon">
</head>
<style>
    #mensajes-contrasena ul {
    list-style-type: none; /* Quitar viñetas de la lista */
    padding-left: 0;
    margin-bottom: 0;
}

#mensajes-contrasena li {
    margin-bottom: 5px;
}
</style>

<body>
    <div class="header">
        <a href="/home">
            <img src="static/images/Imagotipo.png" alt="Logo" width="248" height="85">
        </a>
    </div>

    <div class="login-container">
        <h2>Registrarse</h2>
        <form action="{{ url_for('auth.register') }}" method="post">
            <div class="form-group">
                <label for="name"></label>
                <div class="input-group">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" required>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="right" title="Por favor ingresa tu nombre.">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Correo electrónico" required>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="right" title="Correo necesario en caso de que olvides la contraseña.">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="right" title="Elige una contraseña segura.">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </div>
                </div>
                <!-- Mensajes de validación -->
    <div id="mensajes-contrasena" class="text-muted small mt-2">
        <ul>
            <li id="longitud">La contraseña debe tener al menos 8 caracteres.</li>
            <li id="mayuscula">La contraseña debe tener al menos una letra mayúscula.</li>
            <li id="numero">La contraseña debe tener al menos un número.</li>
        </ul>
    </div>
            
            </div>
            
            <!-- Turnstile Cloudflare -->
            <div class="form-group">
                <div id="turnstile-container" class="cf-turnstile"></div>
            </div>
            {% if message %}
            <div class="error-box" role="alert">
                {{ message }}
            </div>
            {% endif %}
            <!-- <button type="submit">Registrarse</button> -->
            <div class="form-group form-check">
                <input type="checkbox" id="termsCheckbox" class="form-check-input">
                <label for="termsCheckbox" class="form-check-label">
                    Acepto los <a href="terminos_condiciones" target="_blank">términos y condiciones</a>.
                </label>
            </div>

            <button id="registerButton" type="submit" >Registrarse</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="{{ url_for('auth.login') }}">¡Iniciar sesión!</a></p>
    </div>
    <!-- Turnstile Script -->
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
    <script>
        document.getElementById('password').addEventListener('input', function () {
    const contrasena = this.value; // Obtener el valor del campo de contraseña
    const mensajes = {
        longitud: document.getElementById('longitud'),
        mayuscula: document.getElementById('mayuscula'),
        numero: document.getElementById('numero')
    };

    // Validar longitud
    if (contrasena.length >= 8) {
        mensajes.longitud.style.color = 'green';
        mensajes.longitud.innerHTML = '✓ La contraseña tiene al menos 8 caracteres.';
    } else {
        mensajes.longitud.style.color = 'red';
        mensajes.longitud.innerHTML = 'La contraseña debe tener al menos 8 caracteres.';
    }

    // Validar mayúscula
    if (/[A-Z]/.test(contrasena)) {
        mensajes.mayuscula.style.color = 'green';
        mensajes.mayuscula.innerHTML = '✓ La contraseña tiene al menos una letra mayúscula.';
    } else {
        mensajes.mayuscula.style.color = 'red';
        mensajes.mayuscula.innerHTML = 'La contraseña debe tener al menos una letra mayúscula.';
    }

    // Validar número
    if (/[0-9]/.test(contrasena)) {
        mensajes.numero.style.color = 'green';
        mensajes.numero.innerHTML = '✓ La contraseña tiene al menos un número.';
    } else {
        mensajes.numero.style.color = 'red';
        mensajes.numero.innerHTML = 'La contraseña debe tener al menos un número.';
    }
});
    </script>


    <script>
        function turnstileCallback() {
            // Si la validación del CAPTCHA fue exitosa, habilitar el botón
            document.getElementById('registerButton').disabled = false;
        }

        document.addEventListener('DOMContentLoaded', function() {
            // Renderizar solo una vez el turnstile usando el ID específico
            if (document.getElementById('turnstile-container')) {
                turnstile.render('#turnstile-container', {
                    sitekey: '0x4AAAAAAA7ZBwDHftrMRQfe', // Reemplaza con tu sitio key
                    callback: turnstileCallback // Llamar a la función cuando el CAPTCHA sea validado
                });
            }
        });

        function validarContrasena() {
            var contrasena = document.getElementById("password").value;
            var mensaje = "";

            if (contrasena.length < 8) {
                mensaje += "La contraseña debe tener al menos 8 caracteres.\n";
            }
            if (!/[A-Z]/.test(contrasena)) {
                mensaje += "La contraseña debe tener al menos una letra mayúscula.\n";
            }
            if (!/[0-9]/.test(contrasena)) {
                mensaje += "La contraseña debe tener al menos un número.\n";
            }

            if (mensaje) {
                alert(mensaje);
                return false;
            }
            return true;
        }
    
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>