<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/register.css">
</head>

<body>
    <div class="header">
        <a href="/home">
            <img src="static/images/Imagotipo.png" alt="Logo" width="248" height="85">
        </a>        
    </div>      

    <div class="login-container">
        <h2>Registrarse</h2>
        <form action="{{ url_for('auth.register') }}" method="post">
            <div class="form-group">
                <label for="name"></label>
                <div class="input-group">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" required>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="right" title="Por favor ingresa tu nombre.">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Correo electrónico" required>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="right" title="Correo necesario en caso de que olvides la contraseña.">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="right" title="Elige una contraseña segura.">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </div>

                </div>
            </div>
            <!-- Turnstile Cloudflare
            <div class="form-group">
                <div id="turnstile-container" class="cf-turnstile"></div>
            </div> -->
            {% if message %}
            <div class="error-box" role="alert">
                {{ message }}
            </div>
            {% endif %}
            <!-- <button type="submit">Registrarse</button> -->
            <button id="registerButton" type="submit" >Registrarse</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="{{ url_for('auth.login') }}">¡Iniciar sesión!</a></p>
    </div>
    <div class="footer">
        <a href="terminos_condiciones">Términos y condiciones</a>
    </div>
    <!-- Turnstile Script -->
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
    <!-- <script>
        function onClick(e) {
          e.preventDefault();
          grecaptcha.enterprise.ready(async () => {
            const token = await grecaptcha.enterprise.execute('6LeZgt8pAAAAANTHyYyTJmIqg2AVRqXutjC2ucMy', {action: 'LOGIN'});
          });
        }
    </script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script> -->
    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
            let registerButton = document.getElementById('registerButton');
            let interacted = false;

            function enableButton() {
                if (!interacted) {
                    registerButton.disabled = false;
                    interacted = true;
                    document.removeEventListener('click', enableButton);
                }
            }

            document.addEventListener('click', enableButton);
        });
    </script> -->
    <script>
        function turnstileCallback() {
            // Si la validación del CAPTCHA fue exitosa, habilitar el botón
            document.getElementById('registerButton').disabled = false;
        }

        document.addEventListener('DOMContentLoaded', function() {
            // Renderizar solo una vez el turnstile usando el ID específico
            if (document.getElementById('turnstile-container')) {
                turnstile.render('#turnstile-container', {
                    sitekey: '0x4AAAAAAAj_2LTIMCC3wnX8', // Reemplaza con tu sitio key
                    callback: turnstileCallback // Llamar a la función cuando el CAPTCHA sea validado
                });
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <script src="https://www.google.com/recaptcha/enterprise.js?render=6LeZgt8pAAAAANTHyYyTJmIqg2AVRqXutjC2ucMy"></script> -->
    <script src="{{ url_for('static', filename='js/hora.js') }}"></script>
</body>
</html>
